@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
